{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Learniva{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'learniva_app/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'courses_list' %}" class="logo">Learniva</a>
        <ul>
            <li><a href="{% url 'courses_list' %}">Курси</a></li>
            <li><a href="{% url 'course_create' %}">+ Створити курс</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>